footer{
    height: 342px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.GetCloserTo{
    font-family: Cormorant;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    
    color: #9EA0A0;
}

.Sphere{
    font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    
    color: #9EA0A0;
}

.FollowOurInstagram{
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    
    color: #9EA0A0;
}

.candle{
    font-family: Cormorant;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
margin-top: -13px;
/* identical to box height */


color: #9EA0A0;
}

footer div p{
    margin: 0;
    cursor: pointer;
}